/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    padding-top: 100px;
}
ul{
    list-style-type: none;
}
/* REGOLE HEADER */
header{
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    align-items: center;
    display: flex;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.logo-header{
    width: 15%;
}
.logo-header>img{
    width: 100%;
}
.link-menu-header>li, .link-menu-header-right>li{
    display: inline-block;
    margin-left: 10px;
}
.link-menu-header{
    width: 50%;
}

.link-menu-header>li>a, .link-menu-header-right>li>a{
    text-decoration: none;
    color:black;
}
ul.link-menu-header-right{
    align-items: flex-end;
}

.ham {
    display: none;
    font-size: 40px;

}
.dropdown{
    display: none;
    width: 50%;
}
/* ________________________ */
/* JUMBOTRONE */
.jumbotrone{
    background-image:url(../img/jumbo.svg);
    min-height: 600px;
}
.flex-blue{
    display: flex;
    justify-content: space-between;
}
/* regole titolo */
div.title-blue{
    width: 100%;
}
div.title-blue>h1{
    font-size: 50px;
    padding: 50px 0 10px 0;
    width: 86%;
    color: white;
}
div.title-blue>p{
    font-size: 22px;
    line-height: 1.3em;
    color: #becdfa;
}

/* regole account */
div.deploy-started-blue{
    background-color: white;
    width: 60%;
    margin: 48px 0;
    border-radius: 5px;
}
div.container-deploy{
    margin: 0 10px;
    padding: 15px 0;
    /* debug
    border: 1px solid black; */
}
input.insert, button.insert{
    width: 100%;
    padding: 10px 4px;
    border-radius: 4px;
    margin-bottom: 10px;
}

div.container-deploy{
    text-align:center;
}
div.container-deploy>h2{
    margin-bottom: 10px;
}
div.container-deploy>span.started-now{
    color:#2a6df6;
    font-size: 25px
}
/* regole per EMAIL E PASSWORD */
input.insert{
    border: 1px solid #eeeeee;
}
/* regole background e scritta DI ACCOUNT */
input.insert.blue{
    background-color: #669af8;
    color: white;
    border: 1px solid #669af8;
}

/* regole per inserire immagine con before */
.image-button{
    position: relative;
    color:#626262;
}
